[Unit]
Description=Rapex Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/data/network-medicine
Environment="PATH=/data/miniconda3/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/data/miniconda3/bin/java -XX:+IgnoreUnrecognizedVMOptions -Dconf=rapex-conf-gnn.edn -Djava.awt.headless=true -Dfile.encoding=UTF-8 -jar ./rapex.jar
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target