.knowledge-graph-container {
  width: 100%;
  height: calc(100vh - 58px);
  display: flex;
  flex-direction: column;

  .ant-spin-nested-loading,
  .ant-spin-container {
    width: 100%;
    height: 100%;
  }

  #graphin-container,
  .graphin-core {
    border-radius: 5px;
  }

  .left-toolbar {

    .full-screen-button,
    .toolbar-button,
    .save-button,
    .clear-button {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 25%;
      left: 10px;
      z-index: 2;
    }

    .full-screen-button {
      top: calc(25% - 40px);
    }

    .toolbar-button {
      top: 25%;
    }

    .save-button {
      top: calc(25% + 40px);
    }

    .clear-button {
      top: calc(25% + 80px);
    }
  }

  .explanation-panel {
    width: 200px;
    // Don't show the explanation panel by default
    height: 0;
    position: absolute;

    .explanation-info {
      min-width: 200px;
      min-height: 200px;
      width: 100%;
      height: 100%;
      padding: 10px;
      border: 1px solid #5a5a5a;
      overflow: scroll;
      border-radius: 5px;
    }

    .moveable-control-box {
      --moveable-color: unset;
    }
  }
}

.fullscreen-enabled {
  .knowledge-graph-container {
    height: 100vh;
  }
}