.graph-form-container {
  margin: 10px;
  padding: 10px 20px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;

  .title,
  .graph-help,
  .graph-form {
    width: 100%;
  }

  .graph-help {
    text-align: justify;
  }

  .graph-form {
    height: 100%;
  }
}