.knowledge-graph-container {
  width: 100%;
  height: calc(100vh - 58px);
  display: flex;
  flex-direction: column;

  #graphin-container,
  .graphin-core {
    border-radius: 5px;
  }

  .save-button {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50px;
    left: 15px;
    z-index: 1;
  }

  .clear-button {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 85px;
    left: 15px;
    z-index: 1;
  }
}