;; WARNING
;; The dev-config.edn file is used for local environment variables, such as database credentials.
;; This file is listed in .gitignore and will be excluded from version control by Git.

{:port 3000
 ;; when :nrepl-port is set the application starts the nREPL server on load
 :nrepl-port 7000
 :r-serve-port 6311
 :r-init-script nil
 ;; :database-url "jdbc:postgresql://localhost:54320/rapex_dev?user=postgres&password=password"
 :workdir "/app"
 :datadir "/app"
 :fs-services [{:fs-service             "minio"
                :fs-endpoint            "http://localhost:9000"
                :fs-access-key          "pgx-lab"
                :fs-secret-key          "4gmPNjG5Jxxxxxxxxx"
                :fs-rootdir             "/app"}
               {:fs-service             "oss"
                :fs-endpoint            "http://oss-cn-shanghai.aliyuncs.com"
                :fs-access-key          "LTAI4G3Muxxxxxxxxx"
                :fs-secret-key          "wxtpI1KzxxxxxxxxxxFjmIY9Dj"
                :fs-rootdir             nil}]
 :default-fs-service "minio"
 ;; All config of related plugin are defined here.
 :plugins {}
 :enable-cors false
 :cors-origins nil}